<div class="form-floating input-container">
    <input type="<%= inputType %>" class="form-control" id="<%= id %>" name="<%= name %>>" placeholder="<%= placeholder%>">
    <label for="<%= id %>"><%= labelAs %></label>
</div>